/************************************
* --------- Page activité --------- *
************************************/

/* ----- Style pour les titres de l'accueil ----- */
#main-title {
    display: flex;
    justify-content: space-around;
}


/* ----- Style pour le bouton "Proposer une activité" ----- */
#btn-new-activity {
    display: flex;
    justify-content: flex-end;
}




