/*****************************************************
*---------	CSS Lié au Header et au footer ----------*
******************************************************/


/** ---------- Header - SocialBar - Barre réseau sociaux et contact ---------- */

.social-bar{			/* Applique un style sur l'ensemble de la SocialBar */
	background-color: #DA001A;
}

#main-title {
	display: flex;
	justify-content: space-around;
	color: #c2242a;

}

.social-bar-inner {		/* Contenu de la barre */
	display: flex;
	justify-content: flex-end;
	padding-top:3px;
	padding-bottom:3px;
}

.social-link {			/* Lien présent dans la barre */
	width:200px;
	height:100px;
}

.img-social {			/* Images présent dans la barre */
	width:30px;
	height:30px;
	margin-right:40px;
}


/* ---------- Header - NavBar - Barre du menu ---------- */

.main-bar {				/* Applique un style sur l'ensemble de la NavBar */
	display:flex;
  	justify-content: flex-end;
}

#imgcesi {				/* Paramètre de l'image du Cesi */
	margin-left:10px;
	margin-top:10px;
	width:200px;
	height:100px;
	max-width:100%;
	margin-bottom:10px;
}

.header-nav {			/* Menu */
  	width: 78.73975%;
    margin-left: 2.04918%;
	margin:auto;
}

.list-nav {				/* <ul> - Début de la liste */
	display:flex;
  	justify-content: flex-end;
  	list-style-type:none;
}

.link-nav {				/* Lien menu */
	color: #c2242a;
	font-size:15px;
}

.link-nav:hover {		/* Lien menu quand on passe dessus avec la souris */
	text-decoration : none;
	color: #3b3b3b;
	font-size:15px;
}


#button-menu {			/* Bouton smartphone */
	border-color:#c2242a;
}

.icon-bar {				/* Icone présent dans le bouton */
	background-color: #c2242a;
}


/* ---------- Body ---------- */


.body {
	background-color: #f2f2f2;
	padding-bottom:5%;
}


/* ---------- Footer ---------- */

footer {
	padding-top:3px;
	background-color:#ffffff;
	padding-bottom:3px;
	bottom:0;
}

.list-footer {			/* <ul> - Début de la liste */
	display:flex;
  	justify-content: space-around;
  	list-style-type:none;
}

.link-footer {			/* Lien dans le footer */
	text-decoration : none;
	color: #c2242a;
	font-size:15px;
}

.link-footer:hover {			/* Lien dans le footer */
	text-decoration : none;
	color: #3b3b3b;
	font-size:15px;
}

hr {
	border-color: #7d7d7d;
}


