<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Connectez-vous</h1><br>
        <form>
            <input type="text" name="user" placeholder="Adresse mail">
            <input type="password" name="pass" placeholder="Mot de passe">
            <a href="accueil.html" type="button" class="btn btn-success">Connexion</a>
        </form>
        <div class="login-help">
            <a href="" data-target="#inscription-modal">Inscription</a> - <a href="#">Mot de passe oublié</a>
        </div>
    </div>
</div>